footer {
  text-align: center;
  padding: 5rem 1rem;
}

.rs {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.rs a {
  color: var(--couleur-texte);
  font-size: 1.1rem;
  font-weight: 600;
  transition: transform 0.5s;
}

.rs a:hover {
  transform: scale(1.1);
}

.droits-auteur {
  margin-top: 2%;
  font-size: 2rem;
  color: var(--sous-texte);
}

/* RESPONSIVITE */

@media (max-width: 768px) {
  footer h2 {
    font-size: 1rem;
  }
}
