.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav-bar {
  width: 100%;
  padding: 1.2rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* --- LOGO --- */
.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.name {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
}

/* --- NAVBAR --- */
.navbar {
  position: relative;
  padding: 6px 10px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 60px;
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 4px;
}

.navbar ul li {
  position: relative;
}

.navbar ul li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  color: #a4b0be;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s ease;
}

.navbar ul li a.active {
  color: #ffffff;
  font-weight: 600;
}

.nav-text {
  position: relative;
  z-index: 2;
}

.indicator {
  position: absolute;
  inset: 0;
  background: #cc00ff;
  border-radius: 30px;
  z-index: 1;
  box-shadow: 0 0 15px rgba(204, 0, 255, 0.6);
}

/* RESPONSIVITE */

@media (max-width: 768px) {
  .logo {
    font-size: 1rem;
  }
  .nav-links {
    /* reduction du gap */
    gap: 1rem;
  }
  .nav-links a {
    font-size: 1rem;
  }
}
