/* POSTE */

.texte-degrader {
  position: absolute;
  top: -30px;
  color: transparent;
  -webkit-text-stroke: 1px var(--couleur-texte);
  font-size: 4rem;
}

.banniere-accueil {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  position: relative;
  overflow: hidden;
}

h1 {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -2px;
  margin-bottom: 1.5rem;
}

[data-theme="light"] .texte-degrade {
  -webkit-text-stroke: 1px #000;
}

.banniere-accueil p {
  max-width: 600px;
  margin: 0 auto 2.5rem;
  color: var(--sous-texte);
  font-size: 1.1rem;
}

.groupe-boutons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: auto;
  margin-top: 5%;
}

.groupe-boutons:hover {
  transform: scale(1.05);
}

.bouton {
  padding: 0.8rem 2rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.bouton-principal {
  background-color: var(--couleur-accent);
  color: rgb(255, 255, 255);
  /* couleur blanc pr que le StarBorder soit mieux visible */
  background-color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 1.1rem;
}

.bouton-secondaire {
  border: 1px solid var(--couleur-bordure);
  color: var(--couleur-texte);
}

.bouton:hover {
  transform: translateY(-3px);
}

.contenu-banniere {
  position: relative;
  z-index: 4; /* pour passer au dessus du LightRays*/
}

/* RESPONSIVITE */

@media (max-width: 768px) {
  .contenu-banniere h1 {
    /* reduction de la taille de la police */
    font-size: 2rem;
  }
}
