.banniere-accueil {
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  position: relative;
  overflow: hidden;
  background-color: #000000;
}

.container-accueil {
  display: flex;
  width: 100%;
  max-width: 1300px;
  gap: 10%;
  align-items: center;
  z-index: 5; /* pr passer au dessus du composant LightRays */
  margin-top: -20%;
}

.bloc-image {
  flex: 0 0 40%; /* l'image prend 40% de la width */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.portrait-photo {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.bloc-image::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.contenu-banniere {
  flex: 1; /* txt prend 60 % de la width */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* PARTIE POSTE  */
.badge {
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.15);
  color: #e88afb;
  padding: 0.5rem 1.2rem;
  border-radius: 50px;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.point {
  color: #e88afb;
}

.badge .point {
  margin-right: 8px;
  font-size: 1.2rem;
  line-height: 1;
  display: inline-block; /* Ajoute ceci */
}

h1 {
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -2px;
  margin-bottom: 2rem;
  color: #fff;
}

.banniere-accueil p {
  max-width: 600px;
  margin-bottom: 3rem;
  color: var(--sous-texte);
  font-size: 1.2rem;
  line-height: 1.7;
}

/* PARTIE BOUTONS */

.groupe-boutons {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 4rem;
}

.bouton {
  padding: 1rem 2.5rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 900;
  font-size: 1.1rem;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.bouton-principal {
  background-color: var(--couleur-accent); /* Ta couleur orange/magenta */
  color: #fff;
}

.bouton-secondaire {
  background-color: transparent;
  border: 1px solid rgb(16, 15, 15);
  color: #fff;
}

.bouton:hover {
  transform: translateY(-3px) scale(1.03);
}

/* box icon*/
.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons img {
  /* margin-top: 20%; */
  display: flex;

  height: auto;
  width: 25px;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  /* background-color: #1a1a1a; */
  border: 1px solid rgb(16, 15, 15);

  color: #888;
  text-decoration: none;
  font-size: 1.2rem;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.icon-link:hover {
  background-color: var(--couleur-accent); /* Ta couleur au hover */
  color: #fff;
}

.placement-stack {
  right: 100px;
  top: 500px;
}

.cv-container {
  display: flex;
}
/* .cv-container button {
  color: white;
  background-color: rgb(0, 0, 0);
  /* border: 1px solid white; */

/* border-radius: 10px;
  padding: 1rem; */
/* width: 200px; */
/* }  */

.cv-container a:hover {
  cursor: pointer;
}

.btn-download {
  padding: 1rem;
  border: 1px solid rgb(16, 15, 15);
}
/* ========================================= */
/* RESPONSIVITE                              */
/* ========================================= */

@media (max-width: 1024px) {
  .banniere-accueil {
    padding: 0 3%;
  }
  h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  .container-bento {
    flex-direction: column-reverse; /* on met l'image en bas */
    gap: 2rem;
    padding-top: 5vh;
  }

  .banniere-accueil {
    display: flex;
    flex-direction: column;
  }

  .bloc-image {
    flex: 0 0 100%;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .portrait-photo {
    max-height: 50vh;
  }

  .contenu-banniere {
    /* alignement vertical sous mobile */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 0 100%;
  }

  .contenu-banniere h1 {
    font-size: 2.2rem;
  }

  .titre-principal {
    text-align: center;
  }

  .groupe-boutons {
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
}
