/* import de police */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

.section-page {
  padding: 6rem 1rem;
  margin-bottom: 10%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.titre-section {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
  letter-spacing: -1px;
}

.grille-projets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  width: 100%;
}

.carte-projet {
  border-radius: 1.5rem;
  padding: 2rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.carte-projet p {
  max-width: 300px;
  color: var(--sous-texte);
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
/* pr que les dates reste droite */
.date-projet {
  width: 100%;
}

.projets-realises-placement {
  font-weight: 900;
  font-size: 3rem;
  right: 460px;
}

.titre-carte {
  display: flex;
  align-items: center;
  gap: 100px;
  font-size: 0.6rem;
  margin-bottom: 1.5rem;
  color: var(--sous-texte);
  text-transform: uppercase;
  /* mettre une police */
  width: 100%;
}

.icons {
  margin-bottom: 1.5rem;
  display: flex;
}

.img-projet img {
  border-radius: 10px;
  /* taille fixe pr chaque image d'un projet*/
  height: 200px;
  width: 300px;
  border: 1px solid var(--couleur-bordure);
}

.projet-item {
  height: 100%;
}

.carte-projet:hover {
  cursor: pointer;
  transform: scale(1.01);
}
.stack-used {
  display: flex;
  flex-wrap: wrap; /* va a la ligne si y a plus de place */
  gap: 20px;

  font-size: 0.9rem;
  width: 300px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.stack-used span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lien-projet {
  margin-top: 5%;
}

.lien-projet a {
  color: var(--couleur-texte);
  text-decoration: none;
  position: relative;
  font-weight: 700;
  padding-bottom: 2px;
}

.lien-projet a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--couleur-texte);
  transition: width 1s ease-in-out;
}
.degrader-violet {
  background: linear-gradient(to right, rgb(213, 71, 252), #9000a9);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carte-projet h3 {
  color: var(--couleur-texte);
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

/* l'effet de survol sur "voir le projet" */

.lien-projet a:hover::after {
  width: 100%; /* Le trait prend tt la largeur du txt */
}

.placement-stack {
  margin-top: -10%;
}
.placement-stack p {
  font-size: 1.5rem;
}

/* RESPONSIVITE */

@media (max-width: 768px) {
  .carte-projet {
    width: 80%;
  }
  .projet-a-venir h2 {
    /* augmententation de l'espace*/
    margin-top: 20%;
  }

  .stack-used span img {
    /* ptit reduction de la taille des images */
    height: 18px;
  }
  .lien-projet {
    font-size: 0.8rem;
  }
  /* replacement du txt  */
  .projets-realises-placement {
    font-size: 2rem;
    right: 120px;
  }

  .projets-a-venir-placement {
    font-size: 2rem;
    right: 80px;
  }
}
