.languages-container {
  display: flex;
}

.language-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border: 3px solid white;
  border-radius: 10px;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(35, 35, 35);

  padding: 1rem;
}

.language-card h2 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

.language-description p {
  display: flex;

  max-width: 300px;
}

.html-css {
  display: flex;
  gap: 20px;
}
