.dock {
  display: flex;
  height: 58px;
  width: max-content;
  gap: 0.5rem;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0.5rem;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 2rem;
}

.dock--top {
  align-items: flex-start;
}
.dock--middle {
  align-items: center;
}
.dock--bottom {
  align-items: flex-end;
}

.dock-icon {
  display: flex;
  aspect-ratio: 1;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.dock-icon:hover {
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.2s;
}

.dock-icon svg {
  width: 100%;
  height: 100%;
}
